.content-footer {
  text-align: center;
  background-color: $dark-green;
    padding-top: 1rem;
  .icon-contact {
    font-size: 1.2rem;
    color: $white;
    margin: 0.3rem 1rem;
    padding: 0.5rem 1rem;
  }
  .icon-contact:hover {
    background-color: #9fedd7;
    color: #026670;
    border-radius: 2rem;
  }
  p {
    color: $white;
    padding: 1rem 0;
  }
}
